.cell--alive {
  background-color: var(--white-accent);
}

.cell {
  height: 100%; 
  width: 100%; 
  border: 1px #222 solid;
  border-radius: 50%;
}

.cell--dead {
  background-color: #333;
}

/* (241,246,249) */