.sort-item { 
  bottom: 0; 
  border-radius: 10px;
  background-color: var(--primary-blue);
}

.normal {
  background-color: var(--primary-blue); 
}

.pivot {
  background-color: violet; 
}

.larger-idx {
  background-color: red;
}

.smaller-idx {
  background-color: green;
}

.sub-arr-bound {
  background-color: purple; 
}
