.sort-item { 
  position: absolute; 
  bottom: 0; 
  background-color: var(--white-accent);
  border-radius: 10px;
}

.sort-item__inner {
  position: relative; 
  bottom: 0; 
  width: 98%; 
  height: 100%; 
  background-color: var(--primary-blue);
}