.home-landing {
  padding: 0 20px;
}
@media only screen and (min-width: 668px) {
  .mobile-line-break {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .home-landing {
    max-width: 80%;
    margin: auto;
  }
}


