.section-container {
  /* max-width: 1700px; */
  margin: auto; 
  padding: 0 10px;
  transition: padding .3s ease-out;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .section-container {
    padding: 0 20px;
  }
}