.portfolio-mobile,
.portfolio-mobile__inner,
.portfolio-mobile__item {
  position: relative; 
}

.portfolio-mobile__item-container {
  display: flex; 
  flex-direction: column;
  gap: 20px;
}

.portfolio-mobile__item {
  min-height: 200px; 
  width: 100%; 
  background-color: var(--secondary-blue);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: min-height .3s ease-out;
}

.portfolio-mobile__item:nth-child(even),
.portfolio-mobile__item:nth-child(even) .background-filter {
  border-radius: 0px  10px 0px 10px;
}

.portfolio-mobile__item:nth-child(odd),
.portfolio-mobile__item:nth-child(odd) .background-filter {
  border-radius: 10px  0px 10px 0px;
}

.portfolio-mobile__item:nth-child(even) .portfolio-mobile__item--text {
  border-radius: 0px  0px 0px 10px;
}

.portfolio-mobile__item:nth-child(odd) .portfolio-mobile__item--text {
  border-radius: 0px  0px 10px 0px;
}

.background-filter {
  position: absolute;
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  background-color: #000;
  z-index: 10;
  opacity: .2;
}

.portfolio-mobile__item--text {
  padding: 10px;
  bottom: 0;
  z-index: 10;
  right: 0;
  left: 0;
  text-align: center;
}

.portfolio-mobile__item--inner {

}


@media only screen and (min-width: 350px) {
  .portfolio-mobile__item {
    min-height: 240px;
  }
}


@media only screen and (min-width: 420px) {
  .portfolio-mobile__item {
    min-height: 280px;
  }
}

@media only screen and (min-width: 500px) {
  .portfolio-mobile__item {
    min-height: 320px;
    max-width: 510px;
    margin: auto;
  }
}

@media only screen and (min-width: 687px) {

  .portfolio-mobile__item-container {
    display: flex; 
    flex-direction: row;
    gap: 20px;
    max-width: 89%; 
    margin: auto;
    flex-wrap: wrap;
  }

  .portfolio-mobile__item {
    min-height: 220px;
    width: 48%;
  }
}

@media only screen and (min-width: 768px) {
  .portfolio-mobile__item-container {
    max-width: 83%; 
  }

}

@media only screen and (min-width: 1000px) {
  .portfolio-mobile {
    display: none;
  }
}