.desktop-navigation {
  display: none; 
}

@media only screen and (min-width: 668px) {
  .desktop-navigation,
  .desktop-navigation__inner {
    position: relative;
  }

  .navigation-container,
  .desktop-navigation__inner {
    align-items: center;
    justify-content: center;
  }
  
  .desktop-navigation {
    display: block; 
    height: 40px;
  }

  .desktop-navigation__inner {
    height: 100%;
    display: flex; 
  }

  .navigation-container {
    gap: 20px;
  }

  .site-navigation__item {
    font-size: 1.15rem;
  }

  .tag-end-decoration {
    opacity: .4;
  }
}