.portfolio-section {
  min-height: 700px;
  padding: 20px;
}

.portfolio-section__introduction {
  max-width: 600px;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-section__introduction h1 {
  margin-bottom: 20px;
}

.button-section {
  margin: 40px 0; 
  display: flex; 
  justify-content: center;
}

@media only screen and (min-width: 1000px) {
.portfolio-section__inner {
  min-height: 600px;
  display: flex; 
  align-items: center;
  flex-direction: column;
}

.portfolio-section__introduction {
  max-width: 600px;
  margin: auto;
  text-align: center;
  margin-bottom: 0px;
}

}

@media only screen and (min-width: 1170px) {
  .portfolio-section__inner {
    min-height: 800px;
    display: block;
  }

  .button-section {
    margin: 70px 0; 
  }
}