@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;600&family=Poppins:wght@400;600;700&display=swap');

* {
  padding: 0; 
  margin: 0; 
  box-sizing: border-box;
}


:root {
  --primary-blue: #21283E; 
  --secondary-blue: #394867;
  --white-accent: #F1F6F9; 
  --grey-accent: #9BA4B5;  
}

body {
  font-family: 'Inconsolata', monospace;
  font-weight: 400; 
  color: var(--white-accent);
  position: relative;
  background: radial-gradient(
    600px at 40px 40px, 
    #1c2236 0%, 
    #21283E 100%
  )
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6, p, a {
  transition: font-size .2s ease-in-out;
}

.full-screen {
  height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.flex {
  display: flex; 
}

.pos-r {
  position: relative; 
}

.pos-abs {
  position: absolute; 
}

.fw-bold {
  font-weight: 600 !important;
}

/* 
 ||===========||
 || Utilities ||
 ||===========||
*/

.c__primary-blue { color: var(--primary-blue) }
.c__secondary-blue { color: var(--secondary-blue) }
.c__white-accent { color: var(--white-accent) }
.c__grey-accent { color: var(--grey-accent) }

.bg__primary-blue { background-color: var(--primary-blue) }
.bg__secondary-blue { background-color: var(--secondary-blue) }
.bg__white-accent { background-color: var(--white-accent) }
.bg__grey-accent { background-color: var(--grey-accent) }


@media only screen and (min-width: 668px) {
  h1 { font-size: 1.7rem; }
  h2 { font-size: 1.5rem; }
}

@media only screen and (min-width: 1000px) {
  button:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 1000px) and (max-height: 700px) {
  .full-screen {
    min-height: 800px
  }
}
